.itemTarefa{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px dashed #D7DDE9;
    margin:16px;
    width: 386px;
    height: 56px;
    border-radius: 8px;

    &:hover{
        background-color: #F7F9FD;
    }
    .checkbox{
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;


    }

    .btnTrash{
        width: 18px;
        height: 20px;
        cursor: pointer;
        color: #B0BBD1;
    }

}

