.container {
  display: flex;
  align-items: center;
  justify-content: center;

  .title {
    text-align: center;
  }
  .listTarefas {
    width: 450px;
    min-height: 446px;
    padding: 32px 0px 0px 0px;
    border-radius: 16px;
    border: solid #EAECF0 2px;

    .containerItens {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
.btnAdicionar {
  margin-top: 24px;
  width: 450px;
  height: 51px;
  left: calc(50% - 450px / 2);
  background: linear-gradient(90deg, #0796d3 0%, #53c0f0 68.65%);
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  letter-spacing: -2%;
  font-weight: 500;


}
