@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
.itemTarefa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px dashed #d7dde9;
  margin: 16px;
  max-width: 386px;
  width: 80%;
  min-height: 56px;
  color: #000000;
  border-radius: 8px;

  &:hover {
    background-color: #f7f9fd;
  }

  .tarefa {
    margin: 0 10px;
    width: 70%;
    word-wrap: break-word;
    justify-content: center;
    font-family: "Inter Tight";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #000000;
  }

  .checkbox {
    display: none; // Oculta a checkbox padrão

    & + label {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: 1px solid #b0bbd1;
      border-radius: 4px;
      transition: background-color 0.2s;

      &::after {
        content: "";
        display: none;
        width: 14px;
        height: 11px;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="11" viewBox="0 0 14 11" fill="none"><path d="M13 1.5L4.75 9.75L1 6" stroke="%230796D3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>'); // SVG como background
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &:checked + label {
      border: 1px solid #0796d3;
      background-color: #a0dcf6;
      &::after {
        display: block;
      }
    }
  }

  .btnTrash {
    width: 18px;
    height: 20px;
    cursor: pointer;
    color: #b0bbd1;
  }
}

